.card_title {
  font-size: 3rem;
  font-family: "Nunito Sans";
}

.card_text {
  font-size: 1.2rem;
  font-family: "Nunito Sans";
}

.card_center {
  display: inline-block;
  margin-top: 10%;
}

body {
  height: 100%;
}

.card_title_home {
  font-size: 3rem;
  font-family: "Nunito Sans";
  color: #000000;
}

.video {
  border: 1px solid black;
}
.wrapper {
  display: table;
  width: auto;
  position: relative;
}
.playpause {
  background-image: url(https://img.icons8.com/dotty/80/000000/pause.png);
  background-repeat: no-repeat;
  width: 5%;
  height: 5%;
  position: absolute;
  right: 0%;
  top: 0%;
  margin: auto;
  background-size: contain;
  background-position: center;
}
