.card_title {
  font-size: 3rem;
  font-family: "Nunito Sans";
}

.card_text {
  font-size: 1.2rem;
  font-family: "Nunito Sans";
}

.card_center {
  display: inline-block;
  margin-top: 10%;
}

body {
  height: 100%;
}

.card_title_home {
  font-size: 3rem;
  font-family: "Nunito Sans";
  color: #000000;
}

